// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: rgba(0, 0, 0, 0.7);
$rose: rgba(247, 9, 156, 0.8);
$rose-hover: rgba(247, 9, 156, 1);


.text-rose {
  color: $rose-hover;
}

.text-gray {
  color: $light-gray;
  &:hover {
    color: $rose-hover;
  }
}

.bg-rose {
  background-color: $rose;
  padding: 10px 20px !important;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  &:hover {
    background-color: $rose-hover;
    text-decoration: none;
    color: white;
  }
}

.border-bottom-rose {
  border-bottom: solid 1px $rose;
}

.link-rose {
  color: $rose;
  text-decoration: none;
  &:hover {
    color: $rose-hover;
    text-decoration: underline;
  }
}
