// Specific CSS for your home-page
// Smallest device
body {
  background-color: white;
  margin: 0;
}


.border-bottom-rose h2 {
  font-weight: bolder;
  font-family: $headers-font;
  font-size: 1.5em;
  padding-bottom: .5em;
  color: $light-gray;
}

.container-home {
  margin: 3em auto !important;
  width: 95vw;
}

.flex-container {
  margin: 0 !important;
  width: 90vw;
  background-color: white;
}

@media (min-width: 100px) and (max-width: 575px) {
  .container-text {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .container-text {
    grid-template-columns: 1fr;
  h1 {
    font-size: 48px;
    }
  }
  .container-home {
    width: 90%;
    padding: 0px;
    margin: 0px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .container-text {
    grid-template-columns: 1fr 1fr;
  }
  .container-home {
    width: 90%;
    padding: 0px;
    margin: 0px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-text {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container-home {
    width: 90%;
    padding: 0px;
    margin: 0px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-text {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container-home {
    width: 90%;
    padding: 0px;
    margin: 0px;
  }
}
