.user-infos {
  padding: 5em;
  ul {
    li {
      padding: .2em 0;
      background-color: r#ecf0f1;
      border: solid 1px rgba(0,0,0,0.1);
      border-radius: 10px;
      &:last-child {
        border: none;
        box-shadow: none;
        background-color: transparent;
      }
    }
  }
}

ul {
  list-style: none;
  text-align: center;
  font-weight: lighter;
  font-family: $body-font;
  font-size: 16px;
}

.user {
  position: relative;
}

.img-profile {
  position: absolute;
  height: 7em;
  width: 7em;
  object-fit: cover;
  object-position: center;
  top: -0.5em;
  left: 4em;
  border-radius: 50%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  border: solid 1px rgba(0,0,0,0.4);
}

.bookings h1, h2, h3 {
  font-family: $headers-font;
  font-size: 16px;
  font-weight: lighter;
}

.bookings h2 {
  font-weight: bolder;
}


.bookings h1 {
  font-size: 24px;
  font-weight: bolder;
  margin: 1em 0;
  &:first-child {
    margin-top: 0;
  }
}

.profile-part-info {
  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
  }
  .profil-part-info-text {
    margin-left: 1em;
  }

}
