@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

#indicateur {
  text-align: center;
  color: $rose;
  font-weight: lighter;
  font-style: italic;
  margin-bottom: 2em;
}

fieldset{
}
.row-stars {
  text-align: center;
}
.rate {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
}
input {
  display: none;
}
label.etoile {
  float: right;
  font-size: 0;
  color: #D9D9D9;
}
label.etoile:before {
  content: "\f005";
  font-family: FontAwesome;
  font-size: 40px;
}
label.etoile:hover,
label.etoile:hover ~ .etoile {
  color: $rose;
  transition: 0.2s;
}
input:checked ~ label.etoile {
  color: $rose;
}
input:checked ~ label.etoile:hover,
input:checked ~ label.etoile:hover ~ label.etoile {
  color: $rose-faded;
  transition: 0.2s;
}

.hidden-rating {
  display: none;
}
