.title-products-collection {
  text-align: left;
  text-transform: capitalize;
  padding-bottom: 30px;
  color: #484848;
  font-size: 22px;
  font-family: "Open-sans";
  letter-spacing: 2px;
  font-weight: 400;
}
